* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v458_120 {
  width: 100%;
  height: 2608px;
  background: url("../images/v458_120.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v385_28 {
  width: 189px;
  height: 2px;
  background: rgba(40,26,70,1);
  opacity: 1;
  position: absolute;
  top: 608px;
  left: 778px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v386_5 {
  width: 100%;
  height: 16px;
  background: url("../images/v386_5.png");
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 2px;
}
.v360_28 {
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 2px;
}
.v389_16 {
  width: 100%;
  height: 783px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1545px;
  left: 2px;
  overflow: hidden;
}
.v385_4 {
  width: 355px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1593px;
  left: 508px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v389_14 {
  width: 100%;
  height: 212px;
  background: url("../images/v389_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 152px;
  left: 2px;
  overflow: hidden;
}
.v389_15 {
  width: 396px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 211px;
  left: 482px;
  font-family: Kreon;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: center;
}
.v360_29 {
  width: 616px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 408px;
  left: 389px;
  font-family: Kotta One;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v389_20 {
  width: 580px;
  height: 214px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1654px;
  left: 705px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v389_21 {
  width: 580px;
  height: 214px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2036px;
  left: 705px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v389_22 {
  width: 580px;
  height: 214px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2036px;
  left: 50px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v389_26 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1654px;
  left: 919px;
  font-family: Kotta One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v389_27 {
  width: 580px;
  height: 214px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1654px;
  left: 50px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v394_43 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2045px;
  left: 919px;
  font-family: Kotta One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v394_44 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 1661px;
  left: 264px;
  font-family: Kotta One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v394_45 {
  width: 328px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 2045px;
  left: 264px;
  font-family: Kotta One;
  font-weight: Regular;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v394_47 {
  width: 160px;
  height: 159px;
  background: url("../images/v394_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1681px;
  left: 739px;
  overflow: hidden;
}
.v394_49 {
  width: 187px;
  height: 147px;
  background: url("../images/v394_49.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2069px;
  left: 726px;
  overflow: hidden;
}
.v394_51 {
  width: 179px;
  height: 167px;
  background: url("../images/v394_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2057px;
  left: 68px;
  overflow: hidden;
}
.v394_53 {
  width: 174px;
  height: 174px;
  background: url("../images/v394_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1663px;
  left: 70px;
  overflow: hidden;
}
.v496_24 {
  width: 100%;
  height: 136px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2px;
  overflow: hidden;
}
.v496_25 {
  width: 302px;
  height: 124px;
  background: url("../images/v496_25.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 0px;
  overflow: hidden;
}
.v496_26 {
  width: 302px;
  height: 108px;
  background: url("../images/v496_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 16px;
  left: 0px;
  overflow: hidden;
}
.v496_27 {
  width: 64px;
  height: 35px;
  background: url("../images/v496_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 319px;
  overflow: hidden;
}
.v496_28 {
  width: 64px;
  color: rgba(133,205,51,1);
  position: absolute;
  top: 19px;
  left: 0px;
  font-family: Kotta One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v496_29 {
  width: 102px;
  height: 48px;
  background: url("../images/v496_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50px;
  left: 468px;
  overflow: hidden;
}
.v496_30 {
  width: 102px;
  color: rgba(133,205,51,1);
  position: absolute;
  top: 17px;
  left: 0px;
  font-family: Kotta One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v496_31 {
  width: 64px;
  height: 48px;
  background: url("../images/v496_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 655px;
  overflow: hidden;
}
.v496_32 {
  width: 64px;
  color: rgba(133,205,51,1);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Kotta One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v496_33 {
  width: 46px;
  height: 48px;
  background: url("../images/v496_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 804px;
  overflow: hidden;
}
.v496_34 {
  width: 46px;
  color: rgba(133,205,51,1);
  position: absolute;
  top: 22px;
  left: 0px;
  font-family: Kotta One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v496_35 {
  width: 100px;
  height: 48px;
  background: url("../images/v496_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 43px;
  left: 914px;
  overflow: hidden;
}
.v496_36 {
  width: 100px;
  color: rgba(133,205,51,1);
  position: absolute;
  top: 26px;
  left: 0px;
  font-family: Kotta One;
  font-weight: Regular;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v498_113 {
  width: 100%;
  height: 279px;
  background: rgba(46,86,0,1);
  opacity: 1;
  position: absolute;
  top: 2328px;
  left: 1px;
  overflow: hidden;
}
.v498_114 {
  width: 428px;
  height: 42px;
  background: rgba(138,200,66,1);
  opacity: 1;
  position: absolute;
  top: 2565px;
  left: 0px;
  border-top-right-radius: 90px;
  overflow: hidden;
}
.v498_115 {
  width: 158px;
  height: 37px;
  background: url("../images/v498_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2346px;
  left: 871px;
  overflow: hidden;
}
.v498_116 {
  width: 158px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Kreon;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v498_117 {
  width: 98px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v498_118 {
  width: 206px;
  height: 37px;
  background: url("../images/v498_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2346px;
  left: 308px;
  overflow: hidden;
}
.v498_119 {
  width: 206px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Kreon;
  font-weight: Regular;
  font-size: 32px;
  opacity: 1;
  text-align: center;
}
.v498_120 {
  width: 163px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 22px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v498_121 {
  width: 168px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 2545px;
  left: 683px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v498_122 {
  width: 355px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2583px;
  left: 553px;
  font-family: Arial;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v498_123 {
  width: 170px;
  height: 30px;
  background: url("../images/v498_123.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2414px;
  left: 779px;
  overflow: hidden;
}
.v498_124 {
  width: 170px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Kreon;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v498_125 {
  width: 25px;
  height: 25px;
  background: url("../images/v498_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 1px;
  overflow: hidden;
}
.v498_126 {
  width: 172px;
  height: 30px;
  background: url("../images/v498_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2414px;
  left: 1005px;
  overflow: hidden;
}
.v498_127 {
  width: 172px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Kreon;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v498_128 {
  width: 25px;
  height: 25px;
  background: url("../images/v498_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 6px;
  left: 9px;
  overflow: hidden;
}
.v498_129 {
  width: 219px;
  height: 22px;
  background: url("../images/v498_129.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2504px;
  left: 864px;
  overflow: hidden;
}
.v498_130 {
  width: 211px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1px;
  left: 8px;
  font-family: Kreon;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v498_131 {
  width: 303px;
  height: 76px;
  background: url("../images/v498_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2524px;
  left: 1085px;
  overflow: hidden;
}
.v498_132 {
  width: 17px;
  height: 33px;
  background: url("../images/v498_132.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2414px;
  left: 378px;
  overflow: hidden;
}
.v498_133 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2418px;
  left: 237px;
  font-family: Kreon;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v498_134 {
  width: 91px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2417px;
  left: 370px;
  font-family: Kreon;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v498_135 {
  width: 50px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2417px;
  left: 551px;
  font-family: Kreon;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v498_136 {
  width: 39px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2482px;
  left: 314px;
  font-family: Kreon;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v498_137 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 2481px;
  left: 453px;
  font-family: Kreon;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v498_138 {
  width: 153px;
  height: 32px;
  background: url("../images/v498_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2569px;
  left: 94px;
  overflow: hidden;
}
.v498_139 {
  width: 43px;
  height: 30px;
  background: url("../images/v498_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 110px;
  overflow: hidden;
}
.v498_140 {
  width: 32px;
  height: 32px;
  background: url("../images/v498_140.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  overflow: hidden;
}
.v498_141 {
  width: 32px;
  height: 32px;
  background: url("../images/v498_141.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v498_142 {
  width: 29px;
  height: 22px;
  background: url("../images/v498_142.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2504px;
  left: 863px;
  overflow: hidden;
}
.v498_143 {
  width: 14px;
  height: 21px;
  background: url("../images/v498_143.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2489px;
  left: 451px;
  overflow: hidden;
}
.v498_144 {
  width: 14px;
  height: 21px;
  background: url("../images/v498_144.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2423px;
  left: 542px;
  overflow: hidden;
}
.v498_145 {
  width: 14px;
  height: 21px;
  background: url("../images/v498_145.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2423px;
  left: 229px;
  overflow: hidden;
}
.v498_146 {
  width: 14px;
  height: 21px;
  background: url("../images/v498_146.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2489px;
  left: 303px;
  overflow: hidden;
}
.v498_147 {
  width: 14px;
  height: 21px;
  background: url("../images/v498_147.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2423px;
  left: 368px;
  overflow: hidden;
}
.v509_3 {
  width: 271px;
  height: 66px;
  background: url("../images/v509_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 36px;
  left: 1068px;
  overflow: hidden;
}
.v496_37 {
  width: 153px;
  height: 32px;
  background: url("../images/v496_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 24px;
  left: 0px;
  overflow: hidden;
}
.v496_38 {
  width: 43px;
  height: 30px;
  background: url("../images/v496_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 110px;
  overflow: hidden;
}
.v496_39 {
  width: 32px;
  height: 32px;
  background: url("../images/v496_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 55px;
  overflow: hidden;
}
.v496_40 {
  width: 32px;
  height: 32px;
  background: url("../images/v496_40.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v496_41 {
  width: 66px;
  height: 66px;
  background: url("../images/v496_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 205px;
  overflow: hidden;
}
